<section class="home-page">
    <promo-slider></promo-slider>
    <brands-carousel class="home-page__brands-carousel"></brands-carousel>
    <promo-grid class="home-page__promo-grid"></promo-grid>
    <promo-section-left
        class="home-page__promo-section-left"
        [sectionHeight]="'467px'" 
        [contentWidth]="'639px'"
        [title]="'Shoping without limits.'" 
        [text]="'You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!'"
        [buttonText]="'Shop now'"
        [buttonLink]="'/shop'"
        [backgroundImageUrl]="'/assets/images/promo-section-left-1.png'">
    </promo-section-left>
</section>
