<section class="brands-carousel-section">
    <section class="brands-carousel-border">
        <span class="brands-carousel-caption">Choose Your Brand</span>
        <swiper [config]="config" class="brands-carousel">
            <ng-template swiperSlide>
                <div class="brands-carousel-slide-holder">
                    <img src="/assets/images/chanel-logo.svg" alt="chanel" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brands-carousel-slide-holder">
                    <img src="/assets/images/burberry-logo.svg" alt="burberry" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brands-carousel-slide-holder">
                    <img src="/assets/images/dior-logo.svg" alt="dior" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brands-carousel-slide-holder">
                    <img src="/assets/images/fendi-logo.svg" alt="fendi" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brands-carousel-slide-holder">
                    <img src="/assets/images/versace-logo.svg" alt="versace" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brands-carousel-slide-holder">
                    <img src="/assets/images/gucci-logo.svg" alt="gucci" />
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="brands-carousel-slide-holder">
                    <img src="/assets/images/armani-logo.svg" alt="armani" />
                </div>
            </ng-template>
        </swiper>
    </section>

</section>