<section class="promo-grid">
    <div class="promo-grid-top-left">
        <div class="top-left-content promo-grid-top-left__content">
            <div class="top-left-content__title promo-grid-item-title">Choosе your look</div>
            <div class="top-left-content__text promo-grid-item-text">See our clothing collections</div>
            <a routerLink="/shop" class="outlined-btn">See Offers</a>
        </div>
    </div>
    <div class="promo-grid-bottom-left">
        <div class="bottom-left-content">
            <div class="bottom-left-content__title promo-grid-item-title">Brand new style</div>
            <div class="bottom-left-content__text promo-grid-item-text">Popular clothing brands</div>
            <a routerLink="/shop" class="outlined-btn">See Offers</a>
        </div>
    </div>
    <div class="promo-grid-right">
        <div class="right-content promo-grid-right__content">
            <div class="right-content__title promo-grid-item-title">Up to 40% off</div>
            <div class="right-content__text promo-grid-item-text">Special offers and great deals</div>
            <a routerLink="/shop" class="outlined-btn">Shop Now</a>
        </div>
    </div>
</section>