<header class="header">
    <brand-logo></brand-logo>
    <nav class="header__nav-links">
        <ul class="nav-links">
            <li class="nav-links__item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="link">
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="nav-links__item">
                <a routerLink="/shop" routerLinkActive="active" class="link">
                    <span class="link-text">Shop</span>
                </a>
            </li>
            <li class="nav-links__item">
                <a routerLink="/blog" routerLinkActive="active" class="link">
                    <span class="link-text">Blog</span>
                </a>
            </li>
            <li class="nav-links__item">
                <a routerLink="/sale" routerLinkActive="active" class="link">
                    <span class="link-text">Sale</span>
                </a>
            </li>
            <li class="nav-links__item">
                <a routerLink="/contact-us" routerLinkActive="active" class="link">
                    <span class="link-text">Contact Us</span>
                </a>
            </li>
        </ul>
    </nav>

</header>