<swiper [config]="config" class="promo-slider">
    <ng-template swiperSlide>
        <div class="promo-slide-holder">
            <img src="/assets/images/promo-slide-1.png" />
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="promo-slide-holder">
            <img src="/assets/images/promo-slide-1.png" />
        </div>
    </ng-template>
    <ng-template swiperSlide>
        <div class="promo-slide-holder">
            <img src="/assets/images/promo-slide-1.png" />
        </div>
    </ng-template>
</swiper>

<div class="promo-slider-bullets"></div>

<div class="promo-slider-nav">
    <span class="promo-slider-nav-btn promo-slider-nav-btn__prev">
        <img src="/assets/images/arrow_left.svg" alt="prev" />
    </span>
    <span class="promo-slider-nav-btn promo-slider-nav-btn__next">
        <img src="/assets/images/arrow_right.svg" alt="next" />
    </span>
</div>
