<section class="shop-page">
    <promo-section-left 
        class="shop-page__promo-section-left"
        [sectionHeight]="'467px'"
        [contentWidth]="'639px'"
        [title]="'Shoping without limits.'"
        [text]="'You can choose the best option for you, and it does not matter whether you are in Prague or San Francisco. We will deliver your purchase anywhere!'"
        [buttonText]="'Shop now'"
        [buttonLink]="'/shop'"
        [backgroundImageUrl]="'/assets/images/promo-section-left-2.png'">
    </promo-section-left>
    <bread-crumbs></bread-crumbs>
    <product-catalog></product-catalog>
</section>